html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

#content {
    text-align: left;
    min-width: 600px;
    display: inline-block;
    height: 100vh;
    position: relative;
}

h1 {
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#preAssemble {
    position: relative;
    margin: 0 auto;
    display: block;
    height: 80%;
    background-color: #fbc010;
}

#postAssemble {
    margin: 0 auto;
    background-color: #fbc010;
    padding: 20px;
    display: inline-block;
}

#diagramWrapper {
    position: relative;
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    margin: 0;
}

#editor {
    position: absolute;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    border: 1px solid black;
    margin: 20px;
}

#assemble {
    position: absolute;
    margin: 20px;
    right: 0;
    bottom: 0;
}

#clear {
    position: absolute;
    margin: 20px;
    left: 0;
    bottom: 0;
}

#codeContainer {
    max-height: 185px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    border: 1px solid black;
}

#code {
    width: 100%;
    border-collapse: collapse;
}

#code td,
#code th {
    white-space: nowrap;
    padding: 2px 10px;
}

.highlightedLine {
    background-color: rgba(0, 0, 0, 0.07);
}

#edit {
    margin-bottom: -20px;
}

#edit, #advance {
    float: right;
}

#toggleHex, #advance {
    margin-top: 0;
}

#output {
    margin: 0;
    padding: 10px 20px;
    display: block;
    min-height: 1em;
    background-color: white;
    border: 1px solid black;
}

h2 {
    clear: both;
    height: 60px;
    line-height: 60px;
    margin: 0;
    padding: 0;
}

button {
    height: 30px;
    padding: 0 10px;
    margin: 20px 0;
    border: 1px solid black;
}

.ui-widget-header {
    border: none;
    border-bottom: 1px solid black;
    background: #fbc010;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-widget-content {
    border: 1px solid black;
}

.ui-dialog {
    padding: 0;
}


.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid black;
}

#copyright {
    text-align: center;
}